$header-color: #343a40;
  
.sidenav 
  width: 200px;

.mat-toolbar.mat-primary 
  background-color: $header-color;
  position: sticky;
  top: 0;

mat-sidenav-container
  height: calc(100% - 64px) 

mat-toolbar 
  background-color: $header-color;
  z-index: 1;



