.sidenav 
  width: 200px;

.mat-toolbar.mat-primary 
  background-color: #343a40；
  position: sticky;
  top: 0;

.header
  z-index: 5;

mat-sidenav-container
  height: calc(100% - 64px) 

mat-toolbar 
  background-color: #343a40;
  z-index: 1;



