<mat-toolbar class="header text-white">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ngx-manager</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [fixedTopGap]="(isHandset$ | async) ? 56 : 64" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/form">Form</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <main>
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
