<h1 mat-dialog-title>パスワード変更</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input type="password" matInput placeholder="パスワード" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="パスワード（確認）" formControlName="comfirmPassword">
    </mat-form-field>
  </form>
  <p *ngIf="error" class="error">
    {{error}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onRegistClick(form.value)">登録</button>
  <button mat-button (click)="onCancelClick()">キャンセル</button>
</div>
